body {
  font-family: Helvetica, Tahoma, Verdana, sans-serif;
  padding: 0.5em 0px 1em 0px;
  background: rgba(0, 0, 0, 0.05);
}

div {
  width: 100%;
}

#main {
  margin: auto;
  padding-right: 40px;

  width: 80%;
  max-width: 800px;
}

.device {
  margin: 1em auto;
  padding: 0px 20px;

  background: #fff;
  border: 1px solid rgba(127, 127, 127, 0.5);

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.device-name {
  margin: 0px -20px 0px -20px;
  padding: 6px 20px 3px;

  font-weight: bold;
  text-align: center;

  background: rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(127, 127, 127, 0.5);
}

.sessions {
  margin: 0px -20px 0px -20px;
  padding: 0.5em 20px 0.5em;
  max-height: 320px;
  overflow-y: auto;
}

.session + .session {
  margin-top: 10px;
  padding-top: 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

a.link {
  display: block;
  margin: 0px -20px 0px -20px;
  padding: 6px 20px 3px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  text-decoration: none;
  color: black;
}

a.link:visited {
  color: gray;
}

a.link:hover {
  color: black;
  text-decoration: underline;
  background: rgba(0, 127, 255, 0.1);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(32, 33, 36);
  }

  .device {
    background-color: #292a2d;
  }

  .device-name,
  a.link {
    color: rgb(232, 234, 237);
  }

  a.link:hover {
    color: rgb(232, 234, 237);
    background: rgba(0, 127, 255, 0.3);
  }
}
